body {
    background: url(backgroundWhatsapp.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10vh auto;
    height: 50vh;
}


.content {
    border-radius: 10px;
    background-color: rgba(12, 12, 12, 0.6);
    border: 1px solid rgb(149, 253, 149);
    padding: 10% 10% 10% 10%;
    width: 60%;
    margin-bottom: 15px;
    margin: auto;
    margin-bottom: 15px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.create-by {
    font-family: 'Varela Round', sans-serif;
    color: white;
    width: 35%;
    padding: 5px;
    margin: auto;
    border: none;
    border-bottom: 1px solid rgb(149, 253, 149);
    background-color: rgba(12, 12, 12, 0.8);
}

.create-by a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(15, 221, 152);
}

input[type=text] {
    color: white;
    width: 30%;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(12, 12, 12, 0.6);
    border: none;
    caret-color: rgb(149, 253, 149);
    border-bottom: 3px solid rgb(149, 253, 149);
}

button {
    color: white;
    margin: 6px;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    border: 2px solid rgb(149, 253, 149, 0.8);
    background-color: rgba(12, 12, 12, 0.6);
}

input[type=text]:hover {
    transform: scale(1.05);
    transition: 1s;
    margin: 2px;
}

button:hover {
    transform: scale(1.05);
    transition: 1s;
    background-color: rgb(49, 49, 49);
}

.create-by a:hover {
    color: rgb(15, 221, 152, 0.8);
}

img {
    margin: 10px;
    width: 40px;
}


@media only screen and (max-width: 800px) {
    input[type=text] {
        width: 100%;
        margin-bottom: 10px;
    }

    .create-by {
        width: 80%;
    }

    .container {
        width: 100%;
    }
}